<div class="container">
    <div class="card-group">
        <div class="card m-2">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
        <div class="card m-2">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
        <div class="card m-2 ">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card m-2">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
        <div class="card m-2">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
        <div class="card m-2 ">
            <img src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=card-title>Tattoo Name</h5>
                <p class=card-text>Some Tattoo description</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-info  recenter" href="#">Full Gallery</a>
    </div>

    <hr />


</div>
@code {

}
