<div class="container mt-5">
    <div class="row" style="background-color:lightgray">
        <div class="col-3">
            <img class="myImagineStyle" src="css/img/275068876_109171661720492_2700442781348789888_n.jpg" alt="" />
        </div>
        <div class="col-9">
            <p> some text</p>
            <hr />
            <p>some text</p>
            <hr />
             <p> some text</p>
            <hr />
        </div>
    </div>
</div>

@code {

}
