<div class="container-fluid headerBackground  mt-3">
    <div class="row">
          <div class= "col-4  text-left" style="color :white">
        social media links :
    </div>
    <div class= "col-4  text-center" style="color :white">

    </div>
    <div class= "col-4  text-right" style="color :white">
         link link
    </div>
  
    </div>
  
</div>
@code {
    [Parameter] public string IGlink { get; set; }
    [Parameter] public string FBlink { get; set; }
}
