@page "/"




<div class="container  text-center mt-5px">
    <div class="row">
        <div class="col-lg-6 col-md-8 сcol-sm-12 mx-auto">
            <img  src ="css/img/osa.jpg" alt="" />
            <h1 class="text-center" style="font-weight:bold">Ink your ideas! </h1>
            <h2 class="text-center" style="font-weight:bold">Because you can!</h2>

        </div>
    </div>
</div>
<hr />
<Gallery/>
<Info/>
<BookDate/>
<AskQuestion/> <!--пофиксать адаптивность элементов!!!-->
<SurveyPrompt Title="How is Blazor working for you?" />
