@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Water+Brush&display=swap');

.myLogoText {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
    font-size: 40px;
    font-weight: bold;
    
    
}

.headerBackground {
    background: rgb(228,60,60);
    background: -moz-linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(0,0,0,1) 0%, rgba(46,39,37,1) 87%);
    background: -webkit-linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(0,0,0,1) 0%, rgba(46,39,37,1) 87%);
    background: linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(0,0,0,1) 0%, rgba(46,39,37,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e43c3c",endColorstr="#2e2725",GradientType=1);
}

.myImagineStyle {
    width: 250px;
    height: 300px;
    margin-left: auto;
}

.recenter {
}

.bookDateGradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
}

.calendarmarkers {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

    .calendarmarkers :visited {
        color: black;
    }

    .calendarmarkers :hover {
        color: black;
        font-weight: bold;
        text-decoration: none;
        
    }
.freeDates {
    background-color: rgb(112, 205, 71);
     cursor: pointer;
}
.unreachableDates {
    background-color: rgb(220, 55, 78);
}
.bookedDates {
    background: rgb(228,60,60);
    background: -moz-linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(245,240,243,1) 100%, rgba(113,113,113,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(245,240,243,1) 100%, rgba(113,113,113,1) 100%);
    background: linear-gradient(90deg, rgba(228,60,60,1) 0%, rgba(245,240,243,1) 100%, rgba(113,113,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e43c3c",endColorstr="#717171",GradientType=1);
    cursor: pointer;
}
.currentDate {
    font-weight: bold;
    font-size: 25px;
    background-color: antiquewhite;
}
.confirmationCancelation {
    color: orangered;
    font-weight: bold;
    font-size: larger
}
.confirmationResrvation {
    color: forestgreen;
    font-weight: bold;
    font-size: larger
}
.daysOfWeek {
    border-radius: 5px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
}
.askQuestion {
    border: 2px  solid rgba(113,113,113,1);
    border-radius: 25px;
}
.textTransition {
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    color: floralwhite;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
   
    text-transform: uppercase;
}
.image {
    position: relative;
    width: 100%; /* for IE 6 */
}
