@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Water+Brush&display=swap');

.myLogoText {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
    font-size: 40px;
    font-weight: bold;
    
}

.headerBackground {
    background: rgb(27,27,28);
    background: -moz-linear-gradient(90deg, rgba(27,27,28,1) 0%, rgba(231,231,231,1) 28%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(27,27,28,1) 0%, rgba(231,231,231,1) 28%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(27,27,28,1) 0%, rgba(231,231,231,1) 28%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1b1c",endColorstr="#00d4ff",GradientType=1);
}

.myImagineStyle {
    width: 250px;
    height: 300px;
    margin-left: auto;
}

.recenter {
}

.bookDateGradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(240,207,227,1) 100%, rgba(113,113,113,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
}

.calendarmarkers {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

    .calendarmarkers :visited {
        color: black;
    }

    .calendarmarkers :hover {
        color: black;
        font-weight: bold;
        text-decoration: none;
        
    }
